apiVersion: v1
kind: Service
metadata:
  name: postgres-master
spec:
  selector:
    app: postgres
    role: master
  ports:
  - port: 5432
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-replica
spec:
  selector:
    app: postgres
    role: replica
  ports:
  - port: 5432
